* {
    cursor: url("https://img.icons8.com/windows/30/000000/centre-of-gravity.png") 53 53, crosshair;
    -webkit-user-select: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

input {
    user-select: none;
    outline: none;
    border: none;
    width: 15px;
    cursor: default;
    outline: 0;
    outline-offset: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    margin: 0; 
    cursor: default;
}

.all {
    width: 38px;
}